/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/*.log
/*-init.clj
/resources/js
/build
out
**/*.iml
/.idea
/.shadow-cljs
/node_modules
/.cpcache/
/groundedsol root/cgi-bin/
/groundedsol root/javascripts/
/groundedsol root/stats/
/groundedsol root/images/
/.idea_bk.zip
/.clj-kondo/
/.parcel-cache/
/bk/
/Website GroundedSol
/resources/
/.clerk/
