/classes
/checkouts
*.DS_Store
/.lein-*
*.nrepl-port
/*.log
/*-init.clj
/build
out
**/*.iml
/.idea

/.shadow-cljs
/node_modules
/.parcel-cache/
/bk/
.clerk/


/.cpcache
/.nrepl-port
/bb/.cpcache/
/bin
/config.edn
/config.sh
/secrets.env
/storage/
/tailwindcss
/target
.calva/
.clj-kondo/
.lsp/
.portal/
/resources/public/img
/resources/public/dist
/resources/public/media

.idea_bk.zip
/rsc/
/config.env
old xtdb storage/
/old build/
