/classes
/checkouts
*.DS_Store
/.lein-*
*.nrepl-port
/*.log
/*-init.clj
/build
out
**/*.iml
/.idea

/.shadow-cljs
/node_modules
/.cpcache/
/groundedsol root/cgi-bin/
/groundedsol root/javascripts/
/groundedsol root/stats/
/groundedsol root/images/
/.idea_bk.zip
/.parcel-cache/
/bk/
/Website GroundedSol
.clerk/


/.cpcache
/.nrepl-port
/bin
/config.edn
/config.sh
/secrets.env
/storage/
/tailwindcss
/target
.calva/
.clj-kondo/
.lsp/
.portal/

/rsc/
