{:deps
 {org.babashka/http-server {:mvn/version "0.1.11"}
  gs.groundedsol/tasks {:local/root "bb"}}
  ;org.babashka/cli {:mvn/version "0.2.23"}}
 ;:bbin/bin
 ;{http-server
 ; {
 ;  ;:main-opts ["-m" "babashka.http-server"]
 ;  ;:exec-fn
 ;  ;'(babashka.http-server/exec
 ;  ;   {:port 1337
 ;  ;    :dir "./build/"})
 ;  :main-opts
 ;  ["-port" "1337"
 ;   "-dir" "build"]}}
 :tasks
 {serve
    ;or just use http-server --port 8888 --dir build (run from bbin)
    {:doc "Serve static assets"
     :requires ([babashka.http-server :as server])
     :task (server/exec {:port 1337
                         :dir "build"})}

  ;; prn {:task (clojure "-X clojure.core/prn")}

  ;; -dev {:depends [serve prn]}

  ;; dev {:task (run '-dev {:parallel true})}
  
  ;; Used only in local development.
         dev              com.biffweb.tasks/dev
         css              com.biffweb.tasks/css
         format           com.biffweb.tasks/format
         clean            com.biffweb.tasks/clean
         generate-secrets com.biffweb.tasks/generate-secrets
         hello            gs.groundedsol.tasks/hello

         ;; Used for interacting with production.
         deploy           com.biffweb.tasks/deploy
         soft-deploy      com.biffweb.tasks/soft-deploy
         refresh          com.biffweb.tasks/refresh
         restart          com.biffweb.tasks/restart
         logs             com.biffweb.tasks/logs
         prod-repl        com.biffweb.tasks/prod-repl
         prod-dev         com.biffweb.tasks/prod-dev

         ;; Internal tasks called by Biff in production.
         post-receive     com.biffweb.tasks/post-receive
         run-cmd          com.biffweb.tasks/run-cmd}}}
   
;:exec-args {:task-data 1234}}}}
