;; vim: ft=clojure
{:prod {:biff.xtdb/dir "storage/xtdb"
        :biff.xtdb/topology :standalone
        ;; Standalone topology in production isn't recommended for anything
        ;; serious. You can uncomment the following to use managed postgres
        ;; instead.
        ;; :biff.xtdb/topology :jdbc
        ;; :biff.xtdb.jdbc/user "user"
        ;; :biff.xtdb.jdbc/password "JDBC_PASSWORD" ; Leave this as-is, and update secrets.env
        ;; :biff.xtdb.jdbc/host "host"
        ;; :biff.xtdb.jdbc/port 5432
        ;; :biff.xtdb.jdbc/dbname "dbname"
        :biff/base-url "https://groundedsol.com"
        ;; Postmark is used to send email sign-in links. Create an account at
        ;; https://postmarkapp.com
        :postmark/api-key "1816d048-a01c-4d1a-bb22-f263949c89ab"
        ;; Change to the address of your sending identity. Set a reply-to
        ;; address on your sending identity if you want to receive replies and
        ;; your from address isn't configured for receiving.
        :postmark/from "amanda@groundedsol.com"
        ;; Recaptcha is used to protect your sign-in page. Go to
        ;; https://www.google.com/recaptcha/about/ and add a site. Select v2
        ;; invisible. Add localhost to your list of allowed domains.
        :recaptcha/site-key "6LfgaVMoAAAAAAvNStelse9tHZgLKwMbC8a-pk1A"
        :recaptcha/secret-key "6LfgaVMoAAAAAHoMN41vyX55E5W4kOvaNwlGFFWg"
        :biff.beholder/enabled false
        :biff.middleware/cookie-secret "COOKIE_SECRET"
        :biff/jwt-secret "JWT_SECRET"}
 :dev {:merge [:prod]
       :biff.beholder/paths ["src" "resources" "target"]
       :biff.beholder/exts [".clj" ".css"]
       :biff.beholder/enabled true
       :gs.groundedsol/include-livejs true
       :biff/host "0.0.0.0"
       :biff/port 8080
       :biff/base-url "http://localhost:8080"
       :biff.xtdb/topology :standalone
       :biff.middleware/secure false}
 :tasks {;; Set this if the auto-detection doesn't work. See
         ;; https://github.com/tailwindlabs/tailwindcss/releases/latest
         ;; for possible values (for example: "tailwindcss-macos-arm64").
         :biff.tasks/tailwind-file nil
         :biff.tasks/clj-args ["-J-XX:-OmitStackTraceInFastThrow"
                               "-J-XX:+CrashOnOutOfMemoryError"
                               "-J-Duser.timezone=UTC"
                               "-M" "-m" "gs.groundedsol"
                               "--port" "7888"
                               "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]
         :biff.tasks/on-soft-deploy "\"(gs.groundedsol/on-save @gs.groundedsol/system)\""
         ;; Replace "master" with e.g. "main:master" or "dev:master" if you
         ;; want to deploy a different branch, for example:
         ;:biff.tasks/deploy-cmd ["git" "push" "prod" "main:master"]
         :biff.tasks/deploy-cmd ["git" "push" "prod" "master"]
         :biff.tasks/server "groundedsol.com"}}
