{:paths ["src"]
 :deps
   {airtable-clj/airtable-clj {:mvn/version "0.1.1-SNAPSHOT"}
    markdown-clj/markdown-clj {:mvn/version "1.10.8"}
    com.kiranshila/cybermonday {:mvn/version "0.4.160"}
    org.clojure/clojure {:mvn/version "1.10.2"}
    lambdaisland/deep-diff2 {:mvn/version "2.0.108"}
    instaparse/instaparse {:mvn/version "1.4.10"}
    com.lambdaisland/hiccup {:mvn/version "0.0.4"}
    com.lambdaisland/ornament {:mvn/version "0.4.34"}
    camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
    hickory/hickory {:mvn/version "0.7.1"}
    org.clojars.abhinav/luna {:mvn/version "0.1.1"}
    com.nextjournal/beholder {:mvn/version "1.0.0"}
    cheshire/cheshire {:mvn/version "5.10.0"}
    club.donutpower/system {:mvn/version "0.0.103"}
    garden/garden {:mvn/version "1.3.10"}
    binaryage/devtools {:mvn/version "1.0.4"}
    etaoin/etaoin {:mvn/version "0.4.6"}
    clj-http/clj-http {:mvn/version "3.10.0"}
    com.rpl/specter {:mvn/version "1.1.3"}
    girouette/girouette {:mvn/version "0.0.7"}}}
    ;girouette/girouette {:git/url
    ;                     "https://github.com/green-coder/girouette/tree/master/lib/girouette"
    ;                     ;"https://github.com/green-coder/girouette"
    ;                     :deps/manifest :deps
    ;                     :git/sha "d36f1cb6e1d8ab502147f84882e55b51e8023b8e"}
